<section id="about" class="section">
  <div class="container">
    <div class="module">
      <div class="prose">
        <p>
          hi! i'm jordan. i'm a software engineer who is studying physics, philosophy, and ai. some topics i'm interested in researching: NLP, ML & Neural Networks, Quantum Gravity, Consciousness, Quantum Computing, Ethics in AI
        </p>
      </div>
      <div class="split">
        <div>
          <h3 class="h3">Education</h3>
          <ul class="list">
            <li>
              <div class="list-head">B.S. in Physics</div>
              <div class="muted">University of California, Irvine • 2027</div>
            </li>
            <li>
              <div class="list-head">A.S. in Computer Science</div>
              <div class="muted">Riverside City College • 2024</div>
            </li>
            <li>
              <div class="list-head">A.S. in Physics</div>
              <div class="muted">Riverside City College • 2024</div>
            </li>
            <li>
              <div class="list-head">A.S. in Mathematics</div>
              <div class="muted">Riverside City College • 2024</div>
            </li>
            <li>
              <div class="list-head">A.S. in Social and Behavioral Studies</div>
              <div class="muted">Riverside City College • 2024</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
